.topButton {
    font-size: 14px;
    border-radius: 12px;
    padding: 6px 15px;
    width: auto;
    text-align: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.tbl-button {
    width: auto;
}

.circleText {
    outline-style: groove;
    outline-width: 1px;
    outline-offset: 2px;
    border-radius: 25%;
    text-align: center;
    display: inline;
    font-size: 14px;
    padding: 2px;
}